{{#pageHead}}
<link rel="stylesheet" href="/technical-styles/manage-api-workflows.css">
<link rel="stylesheet" href="/technical-styles/settings-layout.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.css"
  integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ=="
  crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.js"
  integrity="sha512-OeZ4Yrb/W7d2W4rAMOO0HQ9Ro/aWLtpW9BUSR2UOWnSV2hprXLkkYnnCGc9NeLUxxE4ZG7zN16UuT1Elqq8Opg=="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/yaml/yaml.min.js"
  integrity="sha512-Prlj899DsOyGWU8noS4ZqQ8Z4jy+215JiZPxt/cT3ds3VqbwwsjSYZ64zCWQ/Z7AUZvymKGRllUSLPW5RKylNQ=="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js"
  integrity="sha512-CSBhVREyzHAjAFfBlIBakjoRUKp5h7VSweP0InR/pAJyptH7peuhCsqAI/snV+TwZmXZqoUklpXp6R6wMnYf5Q=="
  crossorigin="anonymous"></script>
{{/pageHead}}
{{#pageScripts}}
<script src='/technical-scripts/manage-api-workflows.js' defer></script>
<script src='/technical-scripts/settings-nav.js' defer></script>
<script src='/technical-scripts/settings-apis.js' defer></script>
<script src='/technical-scripts/settings-labels.js' defer></script>
<script src='/technical-scripts/settings-organization.js' defer></script>
<script src='/technical-scripts/settings-views.js' defer></script>
<script src='/technical-scripts/settings-plans.js' defer></script>
<script src='/technical-scripts/settings-webhooks.js' defer></script>
<script src='/technical-scripts/settings-keymanagers.js' defer></script>
{{/pageScripts}}

<!-- Server-side data for JS -->
<div id="cfg-page-config" data-org-id="{{orgId}}" data-base-url="{{baseUrl}}" hidden></div>
<script type="application/json" id="cfg-org-apis-data">{{{ json orgAllAPIs }}}</script>
<script type="application/json" id="cfg-plans-data">{{{ json orgPlans }}}</script>
<script type="application/json" id="cfg-webhooks-data">{{{ json webhookSubscribers }}}</script>
<script type="application/json" id="cfg-keymanagers-data">{{{ json keyManagers }}}</script>
<script type="application/json" id="cfg-views-data">{{{ json views }}}</script>
<script type="application/json" id="cfg-orglabels-data">{{{ json orgLabels }}}</script>

<div class="cfg-page">

  <a href="{{baseUrl}}/" class="cfg-back-link">
    <i class="bi bi-arrow-left"></i> Home
  </a>
  <h1 class="cfg-heading">Settings</h1>

  <div class="cfg-layout">

    {{> cfg-nav}}

    <!-- ── Content panes ── -->
    <div class="cfg-content">

      <!-- ══ LLM Instructions ══ -->
      <div class="cfg-panel" id="cfg-llm">
        <div id="llmsTabContent">
          {{> llms-config}}
        </div>
      </div>

      <!-- ══ API Workflows ══ -->
      <div class="cfg-panel" id="cfg-workflows">
        <div id="workflowsTabContent">
          {{> api-workflows}}
        </div>
      </div>

      <!-- ══ Theming ══ -->
      <div class="cfg-panel" id="cfg-theming">
        <div id="themingTabContent">
          {{> theming}}
        </div>
      </div>

      {{> cfg-apis-panel}}

      {{> cfg-mcps-panel}}

      {{> cfg-plans-panel}}

      {{> cfg-webhooks-panel}}

      {{> cfg-keymanagers-panel}}

      {{> cfg-organization-panel}}

      {{> cfg-views-panel}}

      {{> cfg-labels-panel}}

    </div><!-- /.cfg-content -->
  </div><!-- /.cfg-layout -->
</div><!-- /.cfg-page -->

{{> cfg-modals}}
{{> alert}}
