<script>
    var initialLabels = {{{ json labels }}}; // Convert Handlebars data to JavaScript
</script>

<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Labels</th>
            <th>Attached Labels</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#views}}
        <tr>
            <td class="w-10">
                <input type="text" class="form-control w-50" id="viewHandle{{id}}" name="viewHandle" required
                    value="{{id}}" readonly>
            </td>
            <td class="w-10">
                <input type="text" class="form-control w-50" id="viewDisplayName{{id}}" name="viewDisplayName" required
                    value="{{name}}">
            </td>
            <td class="w-20">
                <select id="labelSelect{{id}}" class="form-select"
                    onchange="addViewLabel('labelSelect{{id}}', 'labelsContainer{{id}}')">
                    {{#each @root.orgLabels as |orgLabelGroup|}}
                    <option>{{orgLabelGroup.id}}</option>
                    {{/each}}
                </select>
            </td>
            <td class="w-20">
                <div id="labelsContainer{{id}}" class="d-flex flex-wrap gap-2 mb-3">
                    {{#each labels}}
                    <span class="span-tag">{{this}}<span class="remove">&times;</span></span>
                    {{/each}}
                </div>
            </td>
            <td class="text-center">
                <button type="button" class="common-btn-outlined"
                    onclick="editView('{{json labels}}', 'labelsContainer{{id}}', 'viewDisplayName{{id}}', 'viewHandle{{id}}', '{{@root.orgId}}')">
                    <i class="bi bi-save"></i>
                </button>
                {{#unless (eq id "default")}}
                <button type="button" class="common-btn-outlined" style="margin-right: 10px;"
                    onclick="openWarningModal('DeleteView', '{{@root.orgId}}', '{{id}}', '', '', '', '')">
                    <i class="bi bi-trash"></i>
                </button>
                {{/unless}}
            </td>
        </tr>
        {{/views}}
    </tbody>
</table>
