<!--
 * Copyright (c) 2025, WSO2 LLC. (http://www.wso2.com) All Rights Reserved.
 *
 * WSO2 LLC. licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 -->
{{#if isAPIDefinition}}
<div class="adoc-file-badge adoc-file-badge--spec">
  <i class="bi bi-code-slash"></i>
  {{#if (eq apiType "GRAPHQL")}}schema.graphql
  {{else if (eq apiType "SOAP")}}apiDefinition.xml
  {{else if (eq apiType "WS")}}asyncapi.yaml
  {{else if (eq apiType "WebSubApi")}}asyncapi.yaml
  {{else}}openapi.yaml
  {{/if}}
</div>
{{> api-specification}}
{{else}}
{{#if currentDocName}}
<div class="adoc-file-badge adoc-file-badge--doc">
  <i class="bi bi-file-text"></i> {{currentDocName}}.md
</div>
{{/if}}
<div class="api-markdown-content">
    {{{apiMD}}}
</div>
{{/if}}
